<h1>Listing vens</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Vendedor</th>
      <th>Producto</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vens.each do |ven| %>
      <tr>
        <td><%= ven.cantidad %></td>
        <td><%= ven.vendedor.nombre %></td>
        <td><%= ven.producto.nombre %></td>
        <td><%= ven.cliente.nombre %></td>
        <td><%= link_to 'Show', ven %></td>
        <td><%= link_to 'Edit', edit_ven_path(ven) %></td>
        <td><%= link_to 'Destroy', ven, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ven', new_ven_path %>
